/* 
  Modular Styles Architecture
  Imports must be first to comply with CSS spec
*/
@import '../styles/base.css';
/* Global keyframes */
@import '../styles/animations.css';

/* Theme definitions (Managed in sub-modules) */
@import '../styles/themes/index.css';

/* Custom utility classes */
@import '../styles/utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
